.categories button{
    color: white;
    width: 13vw;
    margin-right: 2vw;
    margin-bottom: 1.5vw;
    height: 27px;
    border-radius: 5px;
    background: linear-gradient(#f81eb3,#02001f);
}
.categories{
    width: 90%;
    margin: 0 auto;
}
@media (max-width:721px){
    .categories button{
        width: 20vw;
    }
}
@media (max-width:450px){
    .categories button{
        width: 35vw;
    }
    .categories{
        width: 50%;
    }
}