@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
.navbar-body{
    width: 100%;
    background: linear-gradient(#f81eb3,#02001f);
    height: 100px;
    position: fixed;
}
.with-login{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.with-logo h1{
    font-family: 'Rubik Bubbles',sans-serif;
    font-size: 45px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.link{
    margin-top: 29px;
    border: 3px solid rgb(6, 1, 56) ;
    height: 30px;
    padding: 4px;
    border-radius: 5px;
    text-decoration: none;
    width: 60px;
}
.with-logo{
    display: flex;
}
.logo{
    width: 55px;
    height: 55px;
    margin-left: 5px;
    margin-top: 8px;
}