.card img{
    width: 100%;
    margin: 0 auto;
    border-radius: 5%;
    height: 15vw;
}
.card{
    border: 3px solid rgb(153, 1, 115);
    width: 30%;
    padding:1%;
    border-radius: 5%;
    margin-bottom: 3%;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.card:hover{
    position: relative;
    bottom:5px;
    left: 5px;
}
.to-ingredients{
    text-decoration: none;
    border: 2px rgb(165, 8, 126) solid;
    border-radius: 5px;
    padding: 1px;
}
@media (max-width:800px){
    .card{
        width: 45%;
        margin-bottom: 7%;
    }
    .card img{
        height: 25vw;
    }
}

@media (max-width:600px){
    .card{
        width: 70%;
        margin-bottom: 7%;
    }
    .card img{
        height: 37vw;
    }
}


